<!-- Navigation bar with light background for the entire bar and dark background for the content -->
<nav class="navbar navbar-light bg-light">
  <a href="https://github.com/CrixoDev" target="_blank">
    <i class="fa-solid fa-laptop-code"></i> CrixoDev
  </a>

  <!-- Container for flex layout and centered content -->
  <div class="container d-flex justify-content-center">
    <!-- Branding section with bolded "To-Do List" -->
    <span class="navbar-brand">
      <span class="font-weight-bold">To-Do List</span>
    </span>
  </div>
</nav>
